__pycache__/
/build
/dist
/*.egg-info
/.pytest_cache
/.pytype_output
*.pyc
*.swp
.coverage
html_cov/
html_doc/
.mutmut-cache
mutmut.xml
coverage.xml
/.pyre
pyre-errors.json
pyre-sarif.json
bandit-sarif.json
.vscode
.ruff_cache
