setuptools
build

# test
pytest
pytest-cov
pytest-mock > 3.6.0
pytest-socket
moto[s3] >= 5.0.0
cryptography >= 3.3.2
aws-xray-sdk == 2.8.0
mutmut
pyfakefs >= 4.5
mock
junit-xml ~= 1.9
requests_mock

# doc
Sphinx ~= 7.0
m2r2
sphinx-rtd-theme
sphinxcontrib-jquery
sphinx_click

# format & static check
autoflake
yapf == 0.31.0
isort
pytype
pyre-check ~= 0.9.22
bandit
bandit_sarif_formatter
