setuptools
build

# test
pytest
pytest-cov
pytest-mock > 3.6.0
pytest-socket
moto[s3] >= 5.0.0
cryptography >= 3.3.2
mutmut
pyfakefs >= 4.5
mock
requests_mock

# doc
Sphinx;python_version < "3.10"
Sphinx ~= 7.3.7;python_version >= "3.10"
m2r2
sphinx-rtd-theme ~= 2.0
sphinxcontrib-jquery
sphinx_click

# format
ruff
black  # for E501

# static check
msgspec >= 0.19.0; python_version == "3.13"
pytype
pyre-check ~= 0.9.22
bandit
bandit_sarif_formatter
