name: Run Tests
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ${{ matrix.os }}
    name: Unit Test (py${{ matrix.python-version}}, ${{ matrix.os }})
    strategy:
      matrix:
        os: [ubuntu-20.04]
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12"]

    steps:
      - name: Checkout Github Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache Python Packages
        id: pip-cache
        uses: actions/cache@v3
        with:
          path: /opt/hostedtoolcache/Python
          key: ${{ matrix.os }}-py${{ matrix.python-version }}-pip-${{ hashFiles('requirements.txt') }}-${{ hashFiles('requirements-dev.txt') }}

      - name: Install Python Packages
        # if: steps.pip-cache.outputs.cache-hit != 'true'
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
          pip install -r requirements.txt
          pip install -r requirements-hdfs.txt

      - name: Run unit-test
        run: |
          make test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: true
          files: coverage.xml
          env_vars: OS,PYTHON,secrets.CODECOV_TOKEN

  style:
    runs-on: ${{ matrix.os }}
    name: Style Check (py${{matrix.python-version}}, ${{ matrix.os }})
    strategy:
      matrix:
        os: [ubuntu-20.04]
        python-version: [3.9]

    steps:
      - name: Checkout Github Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache Python Packages
        id: pip-cache
        uses: actions/cache@v3
        with:
          path: /opt/hostedtoolcache/Python
          key: ${{ matrix.os }}-py${{ matrix.python-version }}-pip-${{ hashFiles('requirements.txt') }}-${{ hashFiles('requirements-dev.txt') }}

      - name: Install Python Packages
        # if: steps.pip-cache.outputs.cache-hit != 'true'
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
          pip install -r requirements.txt
          pip install -r requirements-hdfs.txt

      - name: Run style-check
        run: |
          make style_check

  static:
    runs-on: ${{ matrix.os }}
    name: Static Check (pytype, py${{matrix.python-version}}, ${{ matrix.os }})
    strategy:
      matrix:
        os: [ubuntu-20.04]
        python-version: [3.9]

    steps:
      - name: Checkout Github Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache Python Packages
        id: pip-cache
        uses: actions/cache@v3
        with:
          path: /opt/hostedtoolcache/Python
          key: ${{ matrix.os }}-py${{ matrix.python-version }}-pip-${{ hashFiles('requirements.txt') }}-${{ hashFiles('requirements-dev.txt') }}

      - name: Install Python Packages
        # if: steps.pip-cache.outputs.cache-hit != 'true'
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
          pip install -r requirements.txt
          pip install -r requirements-hdfs.txt

      - name: Run static-check
        run: |
          make static_check

  security:
    runs-on: ${{ matrix.os }}
    name: Security Check (bandit, py${{ matrix.python-version }}, ${{ matrix.os }})
    strategy:
      matrix:
        os: [ubuntu-20.04]
        python-version: [3.9]

    steps:
      - name: Checkout Github Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache Python Packages
        id: pip-cache
        uses: actions/cache@v3
        with:
          path: /opt/hostedtoolcache/Python
          key: ${{ matrix.os }}-python${{ matrix.python-version }}-pip-${{ hashFiles('requirements.txt') }}-${{ hashFiles('requirements-dev.txt') }}

      - name: Install Python Packages
        # if: steps.pip-cache.outputs.cache-hit != 'true'
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
          pip install -r requirements.txt
          pip install -r requirements-hdfs.txt

      - name: Run bandit-check
        continue-on-error: true
        run: |
          make bandit_check

      - name: Expose SARIF Results
        uses: actions/upload-artifact@v3
        with:
          name: SARIF Results
          path: bandit-sarif.json

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: bandit-sarif.json

  pyre:
    runs-on: ${{ matrix.os }}
    name: Static Check (pyre, py${{matrix.python-version}}, ${{ matrix.os }})
    strategy:
      matrix:
        os: [ubuntu-20.04]
        python-version: [3.9]

    steps:
      - name: Checkout Github Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache Python Packages
        id: pip-cache
        uses: actions/cache@v3
        with:
          path: /opt/hostedtoolcache/Python
          key: ${{ matrix.os }}-py${{ matrix.python-version }}-pip-${{ hashFiles('requirements.txt') }}-${{ hashFiles('requirements-dev.txt') }}

      - name: Install Python Packages
        # if: steps.pip-cache.outputs.cache-hit != 'true'
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
          pip install -r requirements.txt
          pip install -r requirements-hdfs.txt

      - name: Run pyre-check
        continue-on-error: true
        run: |
          pip install --upgrade pyre-check==0.9.6
          make pyre_check

      - name: Expose SARIF Results
        uses: actions/upload-artifact@v3
        with:
          name: SARIF Results
          path: pyre-sarif.json

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: pyre-sarif.json
